@tailwind base;
@tailwind components;
@tailwind utilities;

.playfair-display {
  font-family: "Playfair Display", serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}

.input-text {
  @apply focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500;
}

.text-limit {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.form-group {
  @apply flex flex-col py-4;
}

.form-control {
  @apply px-2 py-3 bg-transparent mt-2 border-2 border-gray rounded placeholder:italic;
}
